/* Global Declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Outer container section */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-bar button {
    background-color: mediumpurple;
    color: white;
}

.top-bar p {
    float: right;
    color: mediumpurple;
}

/* Inner container section */

.inner-container {
    background-color: white;
    height: 100vh;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color: mediumpurple;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px mediumaquamarine; */
}

/* quiz intro section */

.quiz-intro, main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
}

header h1 {
    color: mediumpurple;
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
    background-color: mediumpurple;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

/* question sreen */

.question-screen {
    background-color: white;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.question-screen button {
    background-color: mediumpurple;
}

li {
    list-style: none;
}

/* quiz finish screen */

.finish-screen {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.finish-screen h2 {
    color: mediumpurple;
}

.finish-screen button {
    background-color: mediumpurple;
    color: white;
}

/* Highscores screen */

.highscores-screen {
    margin: 0 auto;
    margin-top: 20vh;
}

.hide {
    display: none;
}